body{
    background-image: url("../assets/resources/backimg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
form{
    background-color: darkcyan;
    padding: 50px;
    width: 70%;
    margin: auto;
}