<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gallery Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}">

</head>
<body>
<h1>Gallery Section</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque cupiditate dolores doloribus fugit illo incidunt ipsam iusto minima nam, necessitatibus omnis quaerat quas quasi qui quis quisquam sunt, voluptatibus. Incidunt!</p>
<img src="{% static 'assets/resources/img1.jpg' %}" alt="">
<img src="{% static 'assets/resources/img2.jpg' %}" alt="">
<img src="{% static 'assets/resources/img3.jpg' %}" alt="">
<img src="{% static 'assets/resources/img4.jpg' %}" alt="">
<img src="{% static 'assets/resources/img5.jpg' %}" alt="">
</body>
</html>