<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Information</title>
    {% load static %}
    <link rel="icon" href="{% static 'assets/resources/icon1.png' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
<h1 class="text-center text-success mb-3">PERSONAL INFORMATION</h1>
<p class="container"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab at culpa debitis, dolor esse est excepturi exercitationem, illum ipsam iste iusto libero nobis odit, quis reiciendis sit ut? Id, sequi.</span><span>Alias atque aut deserunt, eos ex, explicabo id in ipsa laudantium nam nihil non perferendis quis quod, repudiandae totam ullam? Consectetur, ipsum itaque nemo numquam officia sint soluta tempora veritatis!</span><span>Aspernatur consectetur dolores eos et ex hic impedit minima mollitia nihil, perspiciatis qui quia quis quo saepe sit soluta temporibus? Dolore dolorum ipsa magni modi porro quaerat quasi ratione voluptatum.</span><span>Consequuntur debitis dignissimos dolores dolorum eius eos in magni necessitatibus possimus quod rem soluta tempora veniam veritatis, voluptatibus. Aliquam cumque fugiat ipsum mollitia, nobis omnis rem rerum tempore ullam voluptatibus.</span></p>

<table class="table table-striped table-primary table-hover table-bordered">
    <tr>
        <th>ID</th>
        <th>FIRST NAME</th>
        <th>LAST NAME</th>
        <th>USERNAME</th>
    </tr>
    
    
    <tr>
        <td>1</td>
        <td>Mark</td>
        <td>Kamau</td>
        <td>@markkkamau</td>
    </tr>


     <tr>
        <td>2</td>
        <td>Isaac</td>
        <td>Kamau</td>
        <td>@kamauisaac</td>
    </tr>


     <tr>
        <td>3</td>
        <td>Chris</td>
        <td>Githinji</td>
        <td>@githinjichris</td>
    </tr>

</table>
</body>
</html>